@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

body {
    background-color:#000a21;
    font-family: "Poppins", Poppins;
    text-align: center;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    padding: 25px 25px 0px 50px;
    border-bottom: thick double
  }

  h2 {
    color: #fff;
    font-size: 20px;
    padding: 0px 25px 0px 50px;
  }

  p {
    color: #fff;
    font-size: 16px;
    padding: 1em;
    width:250px;
    text-align: left;
  }

  form {
    display: inline-flex;
    text-align: right;
    padding: 10px 100px 10px 200px;

  }
  
  textarea {
    min-width: 535px;
    height: auto;
    min-height: 555px;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
  }

  div {
    border: solid #61dbd2 3px;
  }

  input {
    border: none;
    text-decoration: none;
    background-color:#61dbd2;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 5px 25px 5px 25px;
  }
  