<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="../static/css/main.css">
<title>TZ Fetcher</title>
</head>
<body>

<h1>TZ Fetcher</h1>

<h2>TRUSTZONE Intermediate Fetcher.</h2>

<section>
<div class="myDiv">
<form action="/submit/" method="post">
    <label for="text">Put your certificate here:</label>
    <br>
    <textarea id="text" name="text" rows="12" cols="50">{{form_data}}</textarea>
    <br/>
    <input type="submit" value="Submit">
</form>
</div>

<div class="myDiv">
    <br>
    <p>"this is a test"</p>
    <br>
    <p>"this is a test2"</p>
    <br>
    <p>"this is a test3"</p>
</div>
</section>




















<form>
    <label for="text">Intermediate certificate:</label>
    <br>
    <textarea id="result" name="text" rows="12" cols="50">{{intermediate}}</textarea >
    <br/>
</form>


</body>
</html> 