<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="../static/css/main.css">
<title>TZ Fetcher</title>
</head>
<body>

<h3>TZ Fetcher</h3>
<p>TRUSTZONE Intermediate Fetcher.</p>

<form action="/data/" method="post">
    <label for="text">Put your certificate here:</label>
    <br>
    <textarea id="text" name="text" rows="12" cols="50"></textarea>
    <br/>
    <input type="submit" value="Submit">
</form>

</body>
</html> 