<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="../static/css/main.css">
<title>TZ Fetcher</title>

</head>
<body>

<h1>TZ Fetcher</h1>
<h2>TRUSTZONE Intermediate Fetcher.</h2>

<form id="cert input" form-id action="/submit/" method="post">
    <textarea id="text" name="text">{{form_data}}</textarea>
    <div>
        <p>
        <b>Common Name</b>
        <br>
        {{certcn}}
        <br>
        <br>
        <b>Subject</b>
        <br>
        {{certsubj}}
        <br>
        <br>
        <b>SANs</b>
        <br>
        {{certsan}}
        <br>
        <br>
        <b>Validity Start</b>
        <br>
        {{certstart}}
        <br>
        <br>
        <b>Validity End</b>
        <br>
        {{certend}}
        </p>
    </div>
</form>

<br>
<input type="submit" form="cert input" value="Submit">
<br>

<form class="intermediate input"> 
    <textarea id="result" name="text">{{intermediate}}</textarea >
    <div>
        <br>
        <p>{{intmorg}}</p>
        <p>{{intcn}}</p>
        <p>{{intmsubj}}</p>
        <p>{{intmstart}}</p>
        <p>{{intmend}}</p>
        <br>
    </div>    
</form>

</body>
</html> 